.bottom {
    position: fixed;
    bottom: 0;
}

.content {
    width: 60%;
    margin: 50px 20%;
    min-width: 470px;
}

.clear {
    margin:0;
    padding:0;
}

.area {
    border: 1px solid slateblue;
    display: flex;
    flex-direction: column;
}

.mess {
    font-family: 'PT Sans', sans-serif;
    width: max-content;
    max-width: 25%;
    padding: 10px 10px 6px 10px;
    margin:8px;
    border-radius: 30% 20% / 10% 40%;
    color:#2c3e50;
    background: #D6EAF8;  /* fallback for old browsers */
}

.mess > .owner {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: x-small;
}

.mess > .payload {
    margin: 0 10px;
}

.own {
    background: #E1FAC6;  /* fallback for old browsers */
    border-radius: 20% 30% / 20% 10%;
    align-self: flex-end;
}
