.bottom {
    position: fixed;
    bottom: 0;
}

.content {
    width: 60%;
    margin: 30px 20%;
    min-width: 600px;
}

.clear {
    margin:0;
    padding:0;
}

.area {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.mess {
    font-family: 'PT Sans', sans-serif;
    width: max-content;
    width: -moz-fit-content;
    max-width: 30%;
    padding: 10px 10px 6px 10px;
    margin:5px;
    border-radius: 30% 20% / 10% 40%;
    color:#2c3e50;
    background: #D6EAF8;
    overflow-wrap: break-word;
}

.mess > .owner {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: x-small;
}

.mess > .payload {
    margin: 0 10px;
}

.own {
    background: #E1FAC6;  /* fallback for old browsers */
    border-radius: 20% 30% / 20% 10%;
    align-self: flex-end;
}
