.bottom {
    position: fixed;
    bottom: 0;
}

.content {
    width: 60%;
    margin: 50px 20%;
    min-width: 470px;
}

.clear {
    margin:0;
    padding:0;
}

.area {
    border: 1px solid slateblue;
}
