<html>

<head>
    <title>It's a messageMachine</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css'>
    <link rel='stylesheet' href='css/board.css'>
</head>

<body>

    <div class="area content">
        
    </div>

    <div class="box bottom content">
        <form class="clear">
            <div class="field has-addons">
                    <input class="input">
                    <button class="button is-success">
                        Отправить
                    </button>
            </div>
        </form>
    </div>
</body>

</html>